*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    /* max-width: 700px; */
}
body{
    background-color: rgba(231, 198, 13, 0.567);
}
.ludu{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    /* min-width: 700px; */
}
.box{
    display: grid;
}
.container{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: auto;
    border: 5px solid black;
}
.long-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.side{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.board{
    border: 1px solid rgba(89, 81, 81, 0.41);
}
.main-box{
    background-color: blueviolet;
    display: grid;
}
.inner-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: whitesmoke;
    margin: 40px;

}
.inner-innerbox{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: aquamarine;
}
.red{
    background: red;
}
.blue{
    background: blue;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}